p {
    font-family: 'メイリオ', sans-serif;
    line-height: 2;
}

body {
    background-color: ;
    font-family: 'メイリオ', sans-serif;
    letter-spacing: 0.05em
    /*
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic'
    */
}

/* 表 */
table {
    text-align: center;
    border-collapse: collapse;
    border: solid 2px rgb(0, 0, 0);
    

}

#width {
    width: 100%;
}
table *{
    padding: 10px;
}
table th{
    
    background-color: #dfe0db;
}
table td{
    
    background-clip: content-box; 
}

table th, table td {
    border: solid 1px black;
    /*実線 1px 黒*/
}

/* th:empty, td:empty{background-image: linear-gradient(to left bottom, transparent calc(50% - 1px), #000 calc(50% - .5px), #000 calc(50% + .5px), transparent calc(50% + 1px), #fff);
    background-repeat: no-repeat;}

table .liner {
    background-image: linear-gradient(to left bottom, transparent calc(50% - 1px), #000 calc(50% - .5px), #000 calc(50% + .5px), transparent calc(50% + 1px), #fff);
    background-repeat: no-repeat;
} */
/* 箇条書き */
li {
    padding: 10px;
}
#headline {
    text-align: center;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-bottom: solid 3px gray;
    position: relative;
}

/*
#headline:after{
    position: absolute;
    content: "";
    display: block;
    border-bottom: solid 3px skyblue;
    bottom: -3px;
    width: 50%;
}*/

h3 {
    border-left: solid 5px rgb(0, 225, 255);
    padding-left: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding: 10px;
}
#main1 {
    background-color: rgba(180, 250, 194, 0.589);
    margin: 0px auto;
    
    padding: 2% 10%;


}

#main2{
    background-color: rgb(255, 255, 255);
    margin: 0px auto;

    padding: 5% 10%;
    width: 1000px;
    /* max-width: 700px; */
}


.title {
    border-left: solid 5px rgb(0, 225, 255);
    border-bottom: solid 1px gray;
    padding-left: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background-color: aliceblue
}

.main {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
   /* background-color: rgb(195, 238, 248);*/
}

.subtitle {}

.sentence {
    margin: 20px;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.red {
    color: brown;
}

.orange {
    color: rgb(255, 170, 0);
}

.blue {
    color: rgb(55, 101, 227);
}

.underline {
    text-decoration: underline orange;

}

.double-underline {
    border-bottom: double 6px orange;

}

.border-box {
    border: solid 1px orange;
}

.center {
    text-align: center;
}

.letter-spacing {
    letter-spacing: 0.3em;
}


.example3 {
    background: linear-gradient(to right, #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200%;
    font-weight: bold;
    display: inline-block;
}

.example4 {
    background: linear-gradient(to right, #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783, #e60000) 0 / 200%;
    height: 80px;
    animation: 5s example4 linear infinite;
}

@keyframes example4 {
    100% {
        background-position: 200%;
    }
}

.gaming {
    /* 横長で虹色を作る */
    background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
    animation: gaming 2s linear infinite;
}

@keyframes gaming {

    /* backgroundを移動させる */
    100% {
        background-position-x: 200%;
    }
}

.box1 {
    display: inline-block;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 0 auto 5%;
    background: linear-gradient(90deg, #58c6ff 0%, #076ad9 40%, #ff3bef 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
