@charset "UTF-8";
p {
    font-family: 'メイリオ', sans-serif;
    line-height: 1.9;
    text-align: justify;
}

.headline {
    text-align: center;
    background-color: white;
    margin: 10px;
    
    padding: 10px;
    border-bottom: solid 3px gray;
    position: relative;
    min-width: 70px;

    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

body {
    background-color: ;
    font-family: 'メイリオ', sans-serif;
    letter-spacing: 0.05em
    /*
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic'
    */
}

.background {
    background-color: rgba(180, 250, 194, 0.589);
    margin: 0px;
    
    padding: 2% 5%;
    padding: 20px 50px;
    display: flex;
    /* min-width: 1600px; */

}

#main{
    background-color: rgb(255, 255, 255);
    margin: 0px;

    padding: 60px 60px;
    margin-right:auto;
    margin-left:auto;
    border-radius:10px;
    width: 960px; 
    /* width: 70%; */
}

.main {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    /* background-color: rgb(195, 238, 248);*/
    /* min-width: 1000px; */
}

h3 {
    border-left: solid 5px rgb(0, 225, 255);
    padding-left: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding: 10px;
}



.title {
    border-left: solid 5px rgb(0, 225, 255);
    border-bottom: solid 1px gray;
    padding-left: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background-color: aliceblue
}



/* 表 */
table {
    text-align: center;
    border-collapse: collapse;
    width: 500px;
    border: solid 2px rgb(0, 0, 0);
}

.wide-size{
    width: 900px;
}
.content {
    max-width: 960px;
}


@media(width <= 640px){
ul{
flex-direction:column;
gap:10px;
}
.item{
flex-direction:column;
}
}

#width {
    width: 100%;
}
table *{
    padding: 10px;
}
table th{
    
    background-color: #dfe0db;
}
table td{
    background-clip: content-box; 
    
}

table th, table td {
    border: solid 1px black;
    /*実線 1px 黒*/
}

table .bg-white{
    background-color: #ffffff;
}

table .bg-red{
    background-color: #fcdada;
}

/* th:empty, td:empty{background-image: linear-gradient(to left bottom, transparent calc(50% - 1px), #000 calc(50% - .5px), #000 calc(50% + .5px), transparent calc(50% + 1px), #fff);
    background-repeat: no-repeat;}

table .liner {
    background-image: linear-gradient(to left bottom, transparent calc(50% - 1px), #000 calc(50% - .5px), #000 calc(50% + .5px), transparent calc(50% + 1px), #fff);
    background-repeat: no-repeat;
} */
/* 箇条書き */
li {
    padding: 10px;
}


/*
#headline:after{
    position: absolute;
    content: "";
    display: block;
    border-bottom: solid 3px skyblue;
    bottom: -3px;
    width: 50%;
}*/



.subtitle {}

.sentence {
    margin: 20px;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.blood {
    color: brown;
}

.red {
    color: rgb(255, 81, 0);
}

.orange {
    color: rgb(255, 170, 0);
}

.blue {
    color: rgb(55, 101, 227);
}

.purple {
    color: rgb(136, 78, 243);
}

.underline {
    text-decoration: underline orange;

}

.double-underline {
    border-bottom: double 6px orange;

}

.border-box {
    border: solid 1px orange;
}

.center {
    text-align: center;
}

.letter-spacing {
    letter-spacing: 0.3em;
}


.example3 {
    background: linear-gradient(to right, #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200%;
    font-weight: bold;
    display: inline-block;
}

.example4 {
    background: linear-gradient(to right, #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783, #e60000) 0 / 200%;
    height: 80px;
    animation: 5s example4 linear infinite;
}

@keyframes example4 {
    100% {
        background-position: 200%;
    }
}

.gaming {
    /* 横長で虹色を作る */
    background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
    animation: gaming 2s linear infinite;
}

@keyframes gaming {

    /* backgroundを移動させる */
    100% {
        background-position-x: 200%;
    }
}

.box1 {
    display: inline-block;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 0 auto 5%;
    background: linear-gradient(90deg, #58c6ff 0%, #076ad9 40%, #ff3bef 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  background-color: #fffafa;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
  background-color: #fffafa;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}


#mokuji {
    /* background-color: white; */
    width: 30%;
    
    /* max-width: 400px; */
}

#mokuji a:hover {
    text-decoration:none;
}

.mokuji{
    background-color: rgb(255, 255, 255);
    padding: 4%;
    padding-left: 5%;
    
    margin: 0px 10px;
}
.sidebar {
    margin-bottom: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    padding-left: 20px;
}
ul .mokuji a{
    display: block;
    

}
ul .mokuji li{
    padding: 2%;
    
    
}
ul .mokuji ol li{
    padding: 2%;
    padding-left: 0%;
    

}